.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home__bg {
  background-image: url(https://th.bing.com/th/id/R.eb37f8a1b9b7ac0d2cd3a9e1e0244c3e?rik=H%2fBr8uE4ZnkW4A&pid=ImgRaw&r=0);
  border-image: auto;
  height: 82vh;
  width: 106vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.home__bg1 {
  background-image: url(https://ae01.alicdn.com/kf/HTB1B2Kyb.GF3KVjSZFoq6zmpFXa4/Carbon-Monoxide-Gas-Detector-Suitable-install-in-the-kitchen-Beep-sound-alarm-display-gas-concentration-Protect.jpg);
  border-image: auto;
  height: 82vh;
  width: 106vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.home__bg2 {
  background-image: url(https://th.bing.com/th/id/OIP.bOT9vRcr3486kaFfiZHlFAAAAA?pid=ImgDet&rs=1);
  border-image: auto;
  height: 82vh;
  width: 106vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

